<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://trazabilidadandina-trazabilidadadesarrollo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>trazabilidadandina-trazabilidadadesarrollo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>trazabilidadandina__TrazabilidadADesarrollo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$trazabilidadandina__TrazabilidadADesarrollo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:fepasasql01.database.windows.net,1433;Initial Catalog=TrazabilidadDB;User ID=AdminFepasa@fepasasql01.database.windows.net;Password=Fepasa.2018*+" Name="Data Source=tcp:fepasasql01.database.windows.net,1433;Initial Catalog=TrazabilidadDB;User ID=AdminFepasa@fepasasql01.database.windows.net;Password=Fepasa.2018*+;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Data.ProyectoGestionContext, Data" MigrationConfiguration="Data.Migrations.Configuration, Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fepasasql01.database.windows.net,1433;Initial Catalog=TrazabilidadDB;User ID=AdminFepasa@fepasasql01.database.windows.net;Password=Fepasa.2018*+;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>