<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4222c0fb-5c2b-4871-8b5d-c88146a14869/resourceGroups/RG-Fepasa/providers/Microsoft.Web/sites/fepasa-plataformagestion-dev</ResourceId>
    <ResourceGroup>RG-Fepasa</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cgo.fepasa.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fepasa-plataformagestion-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fepasa-plataformagestion-dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fepasa-plataformagestion-dev</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>skconverge.com</ADDomain>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:fepasa-dev.database.windows.net,1433;Initial Catalog=PlataformaGestion;User ID=Logistica@fepasa-dev;Password=Fepasa.2016*+" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Data.ProyectoGestionContext, Data" MigrationConfiguration="Data.Migrations.Configuration, Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://skconverge.com/WebApp-cgo.fepasa.com</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>88af9cb2-0d16-43a0-8681-33152efafcef</ADClientAPPID>
    <ADClientPassword>3qfYpq7ZOOt558yRaAdAwzoxQ9ArXplkP64zlsMQnsY=</ADClientPassword>
    <ADReplyUrl>https://cgo.fepasa.com/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>049f1d45-bc1e-473d-baf9-7630814546b0</ADTenantId>
    <ADPostLogoutRedirectUri>https://cgo.fepasa.com/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fepasa-dev.database.windows.net,1433;Initial Catalog=PlataformaGestion;User ID=Logistica@fepasa-dev;Password=Fepasa.2016*+</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>