<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cgo.fepasa.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fepasa-cgo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fepasa-cgo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fepasa-cgo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADDomain>skconverge.com</ADDomain>
    <EnableADPublish>true</EnableADPublish>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:fepasa-dev.database.windows.net,1433;Initial Catalog=PlataformaGestion;User ID=Logistica@fepasa-dev;Password=Fepasa.2016*+" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Data.ProyectoGestionContext, Data" MigrationConfiguration="Data.Migrations.Configuration, Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://skconverge.com/WebApp-cgo.fepasa.com</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>0cdeb13a-7e1e-4c7b-bde0-3c6bb31d13ce</ADClientAPPID>
    <ADClientPassword>mh5mRL3MZtJMUQW8LrlI5+X2aih0WKTyqdbB8RE1Fis=</ADClientPassword>
    <ADReplyUrl>https://cgo.fepasa.com/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>049f1d45-bc1e-473d-baf9-7630814546b0</ADTenantId>
    <ADPostLogoutRedirectUri>https://cgo.fepasa.com/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fepasa-dev.database.windows.net,1433;Initial Catalog=PlataformaGestion;User ID=Logistica@fepasa-dev;Password=Fepasa.2016*+</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>