@{
//ViewBag.Title = "Home";
//ViewBag.Header = "Programa de Trenes";
}

@*BARRA SUPERIOR*@
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@*@ViewBag.Header*@</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Operaciones</a>
            </li>
            <li class="active">
                <strong>Trenes</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @*<a href="" class="btn btn-primary">This is action area</a>*@
        </div>
    </div>
</div>

@*RESTO DE LA PAGINA*@
<div class="wrapper wrapper-content">
    <div class="middle-box text-center animated fadeInRightBig">
        <h3 class="font-bold">Contenido</h3>
        <div class="error-desc">
            Ejemplo
            <br><a href="index.html" class="btn btn-primary m-t">Botooon xd</a>
        </div>
    </div>
</div>