@model ViewModels.Models.Itinerario
@*@model ViewModels.Models.EmployeeModel*@

<h2>Actividades de Patio para Servicio Bonificable</h2>
<div class="row">
    <div class="col-lg-12">
       
        <div class="row">
            <div class="col-md-5 od">

                <div class="col-xs-6">
                    @*<label>Actividad</label>*@

                    @using (Html.BeginForm(nameof(Trazabilidad.Controllers.ItinerarioController.Create), nameof(Resources.Strings.Models.Itinerario), FormMethod.Post, htmlAttributes: new { @id = "modal-element-create" }))
                    {
                        //for (int i = 0; i < 3; i++)

                        //{

                @*@Html.DisplayFor(m => m.EnumModelPatio[i], (SelectList)ViewBag.TipoPatios)
                    @Html.CheckBoxFor(m => m.EnumModelPatio[i].IsSelected);*@
                    <div class="form-group">
                        @*@Html.DropDownListFor(cl => cl.Tipo, (SelectList)ViewBag.Reasons, "Seleccione una Razon", htmlAttributes: new { @class = "form-control chosen-select" })*@
                        @*@Html.DropDownListFor(cl => cl.EnumModelPatio[i], (SelectList)ViewBag.TipoPatios, "Seleccione una Razon", htmlAttributes: new { @class = "form-control chosen-select" })*@

                        <label> Armado</label>
                        @Html.CheckBoxFor(model => model.EnumModelPatio[0].IsSelected)<br>

                        <label> Descarga</label>
                        @Html.CheckBoxFor(model => model.EnumModelPatio[1].IsSelected)<br>

                        <label> Remolque</label>

                        @Html.CheckBoxFor(model => model.EnumModelPatio[2].IsSelected)<br>

                    </div>
                @*}*@

                
}



                    @*@Html.EnumDropDownListFor(m => m.EnumModelPatio, "Seleccione una actividad", new { @class = "form-control", multiple = "multiple" });*@
                </div>

            </div>

           
           
    
       
           

        @*@Html.CheckBoxFor(model => model., (SelectList)ViewBag.Stations, htmlAttributes: new { @class = "styled" })*@
        @*@Html.DisplayFor(model => model.EnumModelPatio[i], (SelectList)ViewBag.Patios, "Bonificable", new { @class = "form-control" })*@

        @*@Html.HiddenFor(m => m.ModeloEnumPatioRow.CheckBoxPatioGrupo[0].TipoPatio);*@



            @*@Html.ValidationMessageFor(model => model.TipoPatio, "", new { @class = "text-danger" })*@

            @*<div class="col-md-2">
        <button type="button" class="btn btn-primary" id="addRailyard" disabled>Agregar Actividad <i class="fa fa-plus"></i></button>
         </div>*@
        </div>
        
    </div>
</div>
