<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-8">
        <h2>@ViewBag.Header</h2>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
            <li class="active"><strong>Itinerarios</strong></li>
        </ol>
    </div>
    <div class="col-sm-4">
        <div class="title-action">
            <a data-toggle="modal" href="@Url.Action("Create","Schedules")" class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo</a>
        </div>
    </div>
</div>